#slideshow{
	width:800px;
	height: 100%;

}

#slideshow ul{
	width:800px;
	height: 100%;
	overflow: visible;
}



#slideshow li:first-child{
	display: none;
}

#slideshow li{
	position: inherit;
	list-style-type: none;	
	display:inline-block;
	width: 20%;
}

#slideshow .prevButton{
	display: none;
}
	
#slideshow .nextButton{
	display: none;
}
			
#slideshow .gridView{
	display: none;
	/*height:72px;
	width:668px;*/
	position:absolute;
	/*top:50%;
	margin-top:-36px;*/
	cursor:pointer;
	/*z-index:2000;
	background-position:right top;*/
	left: 115px;
	top: -16px;
}


#slideshow .gridView:hover{ 
	position:absolute;
	opacity: 0.5;
	background: no-repeat;
	width: 9%;
	cursor:pointer;
	left: 115px;
	top: -16px;
	display: none;
}
				
				
#slideshow .BackToSlideButton{
	display: none;
	display: block;
	/*height:7000px;
	width:0px;*/
	position:absolute;
	/*top:50%;
	margin-top:-36px*/;
	cursor:pointer;
	/*z-index:2000;*/
	/*background-position:left top;*/
	left: 40px;
	top: -16px;
	textDecoration: underline;
	
}
	
	
#GridView {
/*	margin-left: 42px;
*/	margin: 0px;
	
	
}


#GridView ul{
	width:624px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;

	
	
}

#GridView li{
	position: block;
	list-style-type: none;	
	display:inline-block;
	width: 23%;
}
